.image-container {
  text-align: center;
  margin: 150px 0;
}

.image-container h1 {
  margin-bottom: 64px;
}

.image-grid {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: minmax(50px, auto);
  margin: 0 auto;
  width: 100%;
  max-width: 1000px;
  padding: 0 32px;
}
.image-item:nth-child(5) {
  grid-column-end: span 2;
}

.image-item:nth-child(9) {
  grid-row-start: 4;
  grid-column-end: span 2;
}

.image-grid img:hover {
  transform: scale(1.1);
  transition: 0.6s all ease !important;
  cursor: pointer;
}
